form{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 10%;
    input{
        display: flex;
        margin-top: 30px;
        border-radius: 0.70em;
        width: 90%;
        height: 40px;
        border:2px solid rgb(162, 15, 44);

        &:focus{
            outline: none;
        }
        &::placeholder{
            color: rgb(120, 120, 186);
        }
    }

    button{
        width: 150px;
        margin-top: 30px;
        height: 30px;
        border-radius: 0.70em;
        cursor: pointer;
        height: 40px;
        font-size: larger;
    }
}
